{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Where do you want to fly to?"
            },
            value: {
              text: data['destination'].charAt(0).toUpperCase() + data['destination'].slice(1)
            },
            actions: {
              items: [
                {
                  href: "/destination",
                  text: "Change",
                  visuallyHiddenText: "Where do you want to fly to?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What is your full name?"
            },
            value: {
              text: data['full-name']
            },
            actions: {
              items: [
                {
                  href: "/full-name",
                  text: "Change",
                  visuallyHiddenText: "What is your full name?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "What is your address?"
            },
            value: {
              text: data['address-line-1'] + "" + data['address-line-2'] + ", " + data['address-town'] + "" + data['address-county'] + ", " + data['address-postcode']
            },
            actions: {
              items: [
                {
                  href: "/address",
                  text: "Change",
                  visuallyHiddenText: "What is your address?"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
